@charset "UTF-8";
div{
    background-color: rgb(94, 137, 180);
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid orange;
    display: inline-block;

}
div:hover{ 
    background-color: greenyellow;
}